{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block tittle %}{% endblock %}</title>
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %} 
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Welcome</h2>
        <p>Enjoy our exciting news.</p>
        <p>So far, there are total of {% total_posts %} posts on this blog</p>
        <h3>Check out our Latest posts here</h3>
        {% show_latest_posts 3 %}
        <p>Most commented posts</p>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li><a href="{{post.get_absolute_url}}">{{post.tittle}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
